@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-style: none;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    /* background-color: black; */
    /* background-color: #171717; */
    background-color: #000000;
}

p {
    font-family: "Roboto", sans-serif;
    color:rgb(142 176 203);
    /* color: #168fec; */
    /* color: var(--secondary-text-color); */
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    border-style: none;
}

.flex {
    display: flex;
    align-items: center;
    border-style: none;
}

.container {
    max-width: 1150px;
        /* max-width: 1180px; */
    margin-inline: auto;
    overflow: hidden;
    border-style: none;
}

nav {
    background-color: #000000;
    /* background-color: #1C1678; */
    box-shadow: 0 0 4px #d2eaff;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 120px;
}

.nav-links ul {
    gap: 16px;
    
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    /* color: var(--secondary-text-color); */
    /* color: white; */
    /* color: rgb(47, 175, 255); */
    /* color: #19bbf8f0; */
    /* color: #8576FF; */
    color: white;
}
li{
    color: #038eff;
}

.hover-link:active {
    color:#ee0524f0;

}

.nav-item.active {
    color: orangered;
    /* color: var(--accent-color); */
}

.search-bar {
    height: 25px;
    gap: 8px;
    /* border: 2px solid red; */
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    color: rgb(41, 176, 248);
}

.search-button {
    background-color:#259dff;
    color: rgb(0, 0, 0);
    padding: 4px 24px;
    border: none;
    height: inherit;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    padding-block: 20px;
    margin-top: 90px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 300px;
    box-shadow: 1px 1px 4px #038eff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0a0202;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #1e60924d;
    /* background-color: rgb(37, 37, 42); */
    /* background-color: rgb(255, 255, 255); */
    transform: translateY(-5px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
    color: rgb(100, 99, 99);
}

.news-source {
    margin-block: 12px;
}
.see-more-btn{
    /* text-align-last: right; */
    /* border: 2px solid red; */
    background-color: black;
    border: none;
    color: #038eff;

}


b{
    font-size: larger;
    color: #b2d0eb;
}


/* b {
    position: fixed;
    top: 10%;
    left: 10%;
    margin-top: -50px;
    margin-left: -40px;
  
    animation: rotate 0.1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
   */
  /* @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  } */
  
  body {
    min-height: 5vh;
  }














  /* Add CSS for responsive navigation */
@media screen and (max-width: 768px) {
    .main-nav.container.flex {
        flex-direction:row;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent items from wrapping */
        /* flex-shrink:inherit; */
        flex-wrap: wrap;
        -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
    }
    .nav-links {
        margin-top: 10px;
    }
    .cards-container.container.flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    
    }
    .search-bar {
        position: fixed; /* Fix the search bar */
        top: 30px;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        overflow-wrap:normal;
        justify-content: center;
        /* align-items: center; */
        /* margin-top: 0px; */
        width: 100%; 
        /* background-color: #00000 0; Match the navbar background */
        padding: 40px; /* Add padding for spacing */
    }
}

/* Additional CSS for styling */
/* You can add more styles as needed */
.main-nav.container.flex {
    justify-content: space-around;
    align-items: start;
    
    padding: 10px;
    background-color: #000000;
}

.nav-links ul {
    list-style-type: none;
    /* margin: 0; */
    /* margin: -7px; */
    padding: 0;
    display: flex; /* Use flexbox for horizontal layout */
}

/* .nav-links ul li {
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
} */

.nav-links ul li:last-child {
    margin-right: 0; /* Remove margin for the last item */
}


.search-bar {
    display: flex;
    align-items: center;
}

.news-input {
    padding: 10px;
    margin-right: 10px;
}















/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #144449;
  --first-color-dark: #0a0d0e;
  --text-color: #524748;
  --first-color-light: #7B6F71;
  --first-color-lighten: #FBF9F9;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Margins =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
  
@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  /* background-color: var(--first-color-lighten); */
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,ul,p{
  margin: 0;
}

h2,h3{
  font-weight: var(--font-semi-bold);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS =====*/
.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #000;
}

/*===== FOOTER =====*/
.footer {
  background-color: var(--first-color-dark);
  /* background-color: #093f6600; */
  color: var(--first-color-lighten);
  text-align: center;
  border: 1px solid #038effb1;
}

.footer__container {
  padding: 3rem 0;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-semi-bold);
  color: #038eff;
}

.footer__description {
  margin-bottom: var(--mb-3);
  color: #038eff;
}

.footer__social {
  margin-bottom: var(--mb-6);
}

.footer__link {
  font-size: 1.4rem;
  color: var(--first-color-lighten);
  margin: 0 var(--mb-1);
  transition: .3s;
  color: #038eff;
}

.footer__link:hover {
  color: var(--first-color-light);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
  color: #b4d4ee;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}


















